.container {
    display: flex;
    justify-content: center; 
    position: relative;
  }

.btn {
  background-color: primary;
    border: none;
    color: primary;
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px 10px 10px;
    cursor: pointer;
}

